<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">

<body>
    <footer style="margin-top: 500px">
        <div id="footer">
            <div class="ft-content" style="width: 1105px">
                <div class="ft-info clearfix">
                    <dl class="ft-info-col ft-info-intro">
                        <dt>马蜂窝旅游网</dt>
                        <dd>中国年轻一代用得更多的旅游网站</dd>
                        <dd>上亿旅行者共同打造的<strong>"旅行神器"</strong></dd>
                        <dd><strong>60,000</strong> 多个全球旅游目的地</dd>
                        <dd><strong>600,000</strong> 个细分目的地新玩法</dd>
                        <dd><strong>760,000,000</strong> 次攻略下载</dd>
                        <dd><strong>38,000</strong> 家旅游产品供应商</dd>
                    </dl>
                    <dl class="ft-info-col ft-info-about">
                        <dt>关于我们</dt>
                        <dd><a href="http://www.mafengwo.cn/s/about.html" rel="nofollow">关于马蜂窝</a><a href="http://www.mafengwo.cn/s/contact.html" class="m_l_10" rel="nofollow">联系我们</a></dd>
                        <dd><a href="http://www.mafengwo.cn/s/private.html" rel="nofollow">隐私政策</a><a href="http://www.mafengwo.cn/s/logo.html" rel="nofollow" class="m_l_10">商标声明</a></dd>
                        <dd><a href="http://www.mafengwo.cn/s/agreement.html" rel="nofollow">服务协议</a></dd>
                        <dd><a href="http://www.mafengwo.cn/s/salesagreement.html" rel="nofollow">商城平台服务协议</a></dd>
                        <dd><a href="http://www.mafengwo.cn/s/property.html" rel="nofollow">网络信息侵权通知指引</a></dd>
                        <dd style="white-space: nowrap;"><a href="http://www.mafengwo.cn/s/monitor.html" rel="nofollow">马蜂窝旅游网服务监督员</a></dd>
                        <dd><a href="http://www.mafengwo.cn/s/sitemap.html" target="_blank">网站地图</a><a class="joinus highlight m_l_10" title="马蜂窝团队招聘" target="_blank" href="https://app.mokahr.com/apply/mafengwo1/173#/page/社会招聘?_k=j4j3ux" rel="nofollow">加入马蜂窝</a></dd>
                    </dl>
                    <dl class="ft-info-col ft-info-service">
                        <dt>旅行服务</dt>
                        <dd>
                            <ul class="clearfix">
                                <li><a target="_blank" href="http://www.mafengwo.cn/gonglve/">旅游攻略</a></li>
                                <li><a target="_blank" href="http://www.mafengwo.cn/hotel/">酒店预订</a></li>
                                <li><a target="_blank" href="http://www.mafengwo.cn/sales/">旅游特价</a></li>
                                <li><a target="_blank" href="http://zuche.mafengwo.cn/">国际租车</a></li>
                                <li><a target="_blank" href="http://www.mafengwo.cn/wenda/">旅游问答</a></li>
                                <li><a target="_blank" href="http://www.mafengwo.cn/insure/">旅游保险</a></li>
                                <li><a target="_blank" href="http://z.mafengwo.cn">旅游指南</a></li>
                                <li><a target="_blank" href="http://huoche.mafengwo.cn">订火车票</a></li>
                                <li><a target="_blank" href="http://www.mafengwo.cn/travel-news/">旅游资讯</a></li>
                                <li><a target="_blank" href="http://www.mafengwo.cn/app/intro/gonglve.php">APP下载</a></li>
                                <li style="width: 120px;"><a target="_blank" href="http://www.mafengwo.cn/sales/alliance.php" class="highlight">旅行商城全球商家入驻</a></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="ft-info-col ft-info-qrcode">
                        <dd>
                            <span class="ft-qrcode-tejia"></span>
                            <p>马蜂窝良品<br>官方服务号</p>
                        </dd>
                        <dd>
                            <span class="ft-qrcode-weixin"></span>
                            <p>马蜂窝旅游<br>订阅号</p>
                        </dd>
                        <dd>
                            <span class="ft-qrcode-weixin" style="background-image: url('https://p3-q.mafengwo.net/s10/M00/48/A9/wKgBZ1t_4sSAVJ6uAAAlzJ0PZgU881.png?imageMogr2%2Fthumbnail%2F%2194x90r%2Fgravity%2FCenter%2Fcrop%2F%2194x90%2Fquality%2F90')"></span>
                            <p>马蜂窝APP<br>扫描立即下载</p>
                        </dd>
                    </dl>
                    <dl class="ft-info-social">
                        <dt>旅游之前，先上马蜂窝！</dt>
                    </dl>
                </div>

            </div>

        </div>

        <link rel="stylesheet" th:href="@{/js-css/footer.css}">

    </footer>
</body>
</html>